<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/public.css">
    <link rel="stylesheet" href="../static/css/aboutsus.css">
</head>

<body>

    <!-- 屏幕缩小后出现的下拉列表 开始 -->
    <a href="#">
        <div class="nav-list">
            <div class="shouy">关于我们</div>
            <div class="shouy-xiala">∨</div>
        </div>
    </a>
    <ul class="xialakuang" style="display: none;">
        <li class="index zo" id='index0'>首页</li>
        <li class='aboutus zo' id="aboutus0">关于我们</li>
        <li class="center zo" id='center0'>景点中心</li>
        <li class="service zo" id='service0'>服务项目</li>
        <li class="news zo" id="news0">新闻资讯</li>
        <li class="online zo" id="online0">在线预约</li>
    </ul>
    <!-- 屏幕缩小后出现的下拉列表 结束 -->

    <!-- 导航结束 -->

    <div class="container">
        <div class="row">
            <!-- banner开始 -->
            <div class="banner-img">
                <img src="../static/img/aboutsus/banner.jpg" alt="">
            </div>
            <!-- banner结束 -->
            <!-- 分割线开始 -->
            <div class="aboutus">
                <div class='line'></div>
                <div class="guanyu">
                    <div class="zhongwen">关于我们</div>
                    <div class="yingwen">About Us</div>
                </div>
                <div class="line"></div>
            </div>
            <!-- 分割线结束 -->
            <!-- 详细介绍开始 -->
            <div class="content">
                <div class="content-wenzi col-lg-6">
                    <p class="wenzi">汽车有限公司成立于XXX年XX月XX日，是本地区唯一的授权销售服务中心和特约售后服务中心。主要从事多种品牌的整车销售、 售后服务、配件供应及信息反馈业务。公司秉承 “尊荣无限 至上体验”的服务理念，培养更主动贴心的服务意识,追求更周到便捷的服务水准，让每一位车主，都体验到管家般的细致专业，享受到真正待为贵宾般的尊崇体验。</p>
                    <p class="wenzi">
                        除了为车主提供贴心专业的购车及售后服务，公司还经常组织车主活动，为车主朋友提供一个轻松、愉快的交流平台，让每一位车主都能大家庭里感受到“车生活”更多的乐趣。经过两年的时间，公司已经发展，拥有一流的硬件设施、科学的管理、精湛的技术、诚心的服务品质和积极进取的优秀团队。
                    </p>
                    <p class="wenzi">真诚期望XXX能成为您的爱车之家！</p>
                </div>
                <div class="img col-lg-6">
                    <img src="../static/img/aboutsus/祥介.jpg" alt="">
                </div>
            </div>

            <div class="aboutus">
                <div class='line'></div>
                <div class="guanyu">
                    <div class="zhongwen">资深导游</div>
                    <div class="yingwen">Guide</div>
                </div>
                <div class="line"></div>
            </div>
            <!-- 详细介绍结束 -->
            <!-- 导游介绍开始 -->
            <div class="guide">
                <div class="guide-detail col-lg-3">
                    <div class="guide-detail-img">
                        <img src="../static/img/aboutsus/photo.jpg" alt="">
                    </div>
                    <div class="guide-detail-name">张三</div>
                    <div class="guide-detail-pos">首席导游</div>
                </div>
                <div class="guide-detail col-lg-3">
                    <div class="guide-detail-img">
                        <img src="../static/img/aboutsus/photo.jpg" alt="">
                    </div>
                    <div class="guide-detail-name">张三</div>
                    <div class="guide-detail-pos">首席导游</div>
                </div>
                <div class="guide-detail col-lg-3">
                    <div class="guide-detail-img">
                        <img src="../static/img/aboutsus/photo.jpg" alt="">
                    </div>
                    <div class="guide-detail-name">张三</div>
                    <div class="guide-detail-pos">首席导游</div>
                </div>
                <div class="guide-detail col-lg-3">
                    <div class="guide-detail-img">
                        <img src="../static/img/aboutsus/photo.jpg" alt="">
                    </div>
                    <div class="guide-detail-name">张三</div>
                    <div class="guide-detail-pos">首席导游</div>
                </div>
            </div>
            <!-- 导游介绍结束 -->
        </div>
    </div>
    <!-- 站点地图开始 -->
    <footer>
        <ul>
            <li>
                <h1><strong>一店地址</strong></h1>
                <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
                <h2>预约电话：<strong>400-562-6654</strong></h2>
                <h3>营业时间</h3>
                <h4>周一 ~周五：上午9:30-下午8:00</h4>
                <h4>周六、周日：上午10:00-下午9:00</h4>
            </li>
            <li>
                <h1><strong>二店地址</strong></h1>
                <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
                <h2>预约电话：<strong>400-562-6654</strong></h2>
                <h3>营业时间</h3>
                <h4>周一 ~周五：上午9:30-下午8:00</h4>
                <h4>周六、周日：上午10:00-下午9:00</h4>
            </li>
            <li>
                <h1><strong>三店地址</strong></h1>
                <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
                <h2>预约电话：<strong>400-562-6654</strong></h2>
                <h3>营业时间</h3>
                <h4>周一 ~周五：上午9:30-下午8:00</h4>
                <h4>周六、周日：上午10:00-下午9:00</h4>
            </li>

        </ul>
        <div class="bottom-tb">
            <img src="../static/img/common/QQ (1).png" alt="">
            <img src="../static/img/common/微信 (1).png" alt="">
            <img src="../static/img/common/微博 (1).png" alt="">
            <img src="../static/img/common/电话 (1).png" alt="">
            <img src="../static/img/common/邮箱.png" alt="">
        </div>
        <div class="bottom-wz">版权所有 2019-2020 聊之旅工作室 技术支持：WUIF</div>
        <div class="bottom-zaixian"><a href="">在线预约</a></div>
    </footer>
    <!-- 站点地图结束 -->

    <!-- 箭头--置顶 -->
    <!--<div class="zhiding">ʌ</div>-->
</body>

</html>
