<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1343159_qo45xekm86b.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/index.css">


    <title>聊之旅首页</title>
</head>

<body>


<!--轮播图制作开始-->
<div class="banner ">
    <div class="banner_img_box">
        <ul class="banner_img_list">
            <li class="banner_img img_1"></li>
            <li class="banner_img img_2"></li>
        </ul>
    </div>
    <!--轮播图   图片部分    制作结束-->

    <!--轮播图   左右按钮部分    制作开始-->
    <div class="banner_button_box">
        <div class="banner_button button_left ">
            <div class="left_top"><i class="iconfont iconleft"></i></div>
            <div class="left_bottom"><i class="iconfont iconleft"></i></div>
        </div>
        <div class="banner_button button_right">
            <div class="right_top"><i class="iconfont iconzuoyoujiantou1"></i></div>
            <div class="right_bottom"><i class="iconfont iconzuoyoujiantou1"></i></div>
        </div>
    </div>
    <!--轮播图   左右按钮部分    制作结束-->

    <!--轮播图   轮播点部分    制作开始-->
    <div class="banner_dot_box">

    </div>
</div>
<!--轮播图制作结束-->
<!--网页内容部分  制作开始   -->
<div class="container">
    <div class="content_box">
        <div class="content">
            <div class="row">
                <div class="content_head col-lg-12 col-xs-12 col-md-12">
                    <div class="content_title_box">
                        <div class="content_title_bigtitle">漫步此地，假山堆砌</div>
                        <div class="content_title_smalltitle">来到这里，心旷神怡。统统飞去的是烦恼；幽幽飘来的是花香，人们怎能心感不满？
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="content_main_box ">
                    <div class="content_main animated col-lg-3 col-xs-12 col-md-3 col-sm-12">
                        <div class="content_main_img animated">
                            <img src="../static/img/index/main_1.png" alt="">
                        </div>
                        <div class="content_main_title"><strong>漫步此地，假山堆砌</strong></div>
                        <div class="content_main_line">
                            <img src="../static/img/index/line.png" alt=""></div>
                        <div class="content_main_text">花果飘香，神游其中，颓然碧窈，给人以碧绿幽深舒坦的感觉，牡丹，富贵者也，宜乎众矣</div>
                    </div>
                    <div class="content_main animated col-lg-3 col-xs-12 col-md-3 col-sm-12">
                        <div class="content_main_img animated">
                            <img src="../static/img/index/main_2.png" alt="">
                        </div>
                        <div class="content_main_title"><strong>山水甲天下</strong></div>
                        <div class="content_main_line">
                            <img src="../static/img/index/line.png" alt=""></div>
                        <div class="content_main_text">采一朵，闻一闻，脚下花堆遍地，真个赛天堂；久之，累了，坐于假山石上，休息一阵，真个浑身惬意</div>
                    </div>
                    <div class="content_main animated col-lg-3 col-xs-12 col-md-3 col-sm-12">
                        <div class="content_main_img animated">
                            <img src="../static/img/index/main_3.png" alt="">
                        </div>
                        <div class="content_main_title"><strong>赏绿色风景</strong></div>
                        <div class="content_main_line">
                            <img src="../static/img/index/line.png" alt=""></div>
                        <div class="content_main_text">光彩夺目的历史文化、瑰丽全姿的民族风情、神秘绝妙的自然景观、珍奇稀有的古迹遗踪</div>
                    </div>
                    <div class="content_main animated col-lg-3 col-xs-12 col-md-3 col-sm-12">
                        <div class="content_main_img animated">
                            <img src="../static/img/index/main_4.png" alt="">
                        </div>
                        <div class="content_main_title"><strong>走进多情山水</strong></div>
                        <div class="content_main_line">
                            <img src="../static/img/index/line.png" alt=""></div>
                        <div class="content_main_text">自钟山远眺，玄武湖五洲烟柳，十里春风，燕雀湖波光墙影，紫霞湖林海明珠，尽收眼底。使人心旷神怡</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="content_middle_title_box ">
                    <div class="content_middle_title col-lg-12 col-xs-12 col-md-12 col-sm-12">桂林山水甲天下，玉碧罗青意可参</div>
                    <div class="content_middle_line col-lg-12 col-xs-12 col-md-12 col-sm-12">
                        <img src="../static/img/index/line_2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="companyprofile_box">
                    <div class="companyprofile_left animated col-lg-4  col-xs-12 col-md-4 col-sm-12">
                        <img src="../static/img/index/intor-1.jpg@80q" alt="">
                    </div>
                    <div class="companyprofile_right col-lg-8 col-xs-12 col-md-8 col-sm-12">
                        <div class="companyprofile_title_box">
                            <a class="companyprofile_title" href="#">公司简介</a>
                            <a class="companyprofile_more" href="#">MORE+</a>
                        </div>
                        <div class="companyprofile_txt">
                            <div class="txt_top">汽车有限公司成立于XXX年XX月XX日，是本地区唯一的授权销售服务中心和特约售后服务中心。主要从事多种品牌的整车销售、
                                售后服务、配件供应及信息反馈业务。
                            </div>
                            <div class="txt_kong"></div>
                            <div class="txt_bottom">公司秉承 “尊荣无限
                                至上体验”的服务理念，培养更主动贴心的服务意识,追求更周到便捷的服务水准，让每一位车主，都体验到管家般的细致专业，享受到待为贵宾般的尊崇体验……
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cosmetology_box">
                    <div class="cosmetology_left col-lg-8 col-xs-12 col-md-8 col-sm-12">
                        <div class="cosmetology_txt_box">
                            <span class="cosmetology_txt_span1">美容知识</span>
                            <span class="cosmetology_txt_span2">MORE+</span>
                        </div>
                        <div class="cosmetology_row">
                            <a href="#"><span class="cosmetology_row_span1">修车五大禁忌忌开锅时贸然开引擎盖</span>
                                <span class="cosmetology_row_span2">2015-01-20</span></a>
                        </div>
                        <div class="cosmetology_row">
                            <a href=""><span class="cosmetology_row_span1">你的爱车清理到位了吗 可别忘记排水孔</span>
                                <span class="cosmetology_row_span2">2015-01-20</span></a>
                        </div>
                        <div class="cosmetology_row">
                            <a href=""><span class="cosmetology_row_span1">配置升级 2015款凯迪拉克XTS到店实拍</span>
                                <span class="cosmetology_row_span2">2015-01-20</span></a>
                        </div>
                        <div class="cosmetology_row">
                            <a href=""><span class="cosmetology_row_span1">修车五大禁忌忌开锅时贸然开引擎盖</span>
                                <span class="cosmetology_row_span2">2015-01-20</span></a>
                        </div>
                        <div class="cosmetology_row cosmetology_row_last">
                            <a href=""><span class="cosmetology_row_span1">奥迪推出Q2/Q4受阻 菲亚特抢注名称</span>
                                <span class="cosmetology_row_span2">2015-01-20</span></a>
                        </div>
                    </div>
                    <div class="cosmetology_right animated col-lg-4 col-xs-12 col-md-4 col-sm-12">
                        <img src="../static/img/index/yellow.jpg@80q" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--网页内容部分  制作结束   -->

<!-- 站点地图开始 -->
<footer>
    <ul>
        <li>
            <h1><strong>一店地址</strong></h1>
            <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
            <h2>预约电话：<strong>400-562-6654</strong></h2>
            <h3>营业时间</h3>
            <h4>周一 ~周五：上午9:30-下午8:00</h4>
            <h4>周六、周日：上午10:00-下午9:00</h4>
        </li>
        <li>
            <h1><strong>二店地址</strong></h1>
            <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
            <h2>预约电话：<strong>400-562-6654</strong></h2>
            <h3>营业时间</h3>
            <h4>周一 ~周五：上午9:30-下午8:00</h4>
            <h4>周六、周日：上午10:00-下午9:00</h4>
        </li>
        <li>
            <h1><strong>三店地址</strong></h1>
            <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
            <h2>预约电话：<strong>400-562-6654</strong></h2>
            <h3>营业时间</h3>
            <h4>周一 ~周五：上午9:30-下午8:00</h4>
            <h4>周六、周日：上午10:00-下午9:00</h4>
        </li>

    </ul>
    <div class="bottom-tb">
        <img src="../static/img/common/QQ (1).png" alt="">
        <img src="../static/img/common/微信 (1).png" alt="">
        <img src="../static/img/common/微博 (1).png" alt="">
        <img src="../static/img/common/电话 (1).png" alt="">
        <img src="../static/img/common/邮箱.png" alt="">
    </div>
    <div class="bottom-wz">版权所有 2019-2020 聊之旅工作室 技术支持：WUIF</div>
    <div class="bottom-zaixian"><a href="">在线预约</a></div>
</footer>
<!-- 站点地图结束 -->

<!-- 箭头--置顶 -->
<div class="zhiding">ʌ</div>

</body>

</html>

<script src="../static/js/index.js"></script>