<?php
require '../lib/db.php';

$sql = "select * from news";
$all = $mysql->query($sql)->fetch_all(MYSQLI_ASSOC);


?>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新闻资讯</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/public.css">
    <link rel="stylesheet" href="../static/css/news.css">
</head>

<body>
<style>
    .detail a{
        color:#666;
    }
    .news:hover{
        color:red;
    }
    .news:hover a{
        color:red;
    }
</style>

<!-- 顶部导航 开始 -->
<div class="container">
    <div class="row">
        <!-- banner开始 -->
        <div class="banner-img">
            <img src="../static/img/news/banner.jpg" alt="">
        </div>
        <!-- banner结束 -->
        <!-- 分割线开始 -->
        <div class="aboutus">
            <div class='line'></div>
            <div class="guanyu">
                <div class="zhongwen">出行贴士</div>
                <div class="yingwen">Tip</div>
            </div>
            <div class="line"></div>
        </div>
        <!-- 分割线结束 -->
        <!-- 新闻开始 -->

        <?php foreach ($all as $key=>$value){ ?>

        <div class="news">

            <div class="news-every" id="">
                <div class="detail"><a href="newschild.php?id=<?php echo $value['id'] ?>"><?php echo $value['ntitle'] ?></a></div>
                <span><?php echo $value['create_time']?></span>
            </div>

            <!-- 新闻结束 -->
            <!-- 隐藏页开始 -->
<!--
            <div class="hidden-news">

                <h2><?php echo $value['ntitle'] ?></h2>
                <div class="fabusj"><?php echo $value['id'] ?>：<?php echo $value['create_time'] ?></div>
                <p>
                    <?php echo $value['ncontent'] ?>
                </p>

                <div class="back">返回列表</div>
            </div>-->

        </div>

        <?php }?>


        <!-- 隐藏页结束 -->
        <!-- 底部图片开始 -->
        <div class="container bottom">
            <div class="banner-img">
                <img src="../static/img/news/dibu-imgjpg.jpg" alt="">
            </div>
        </div>
        <!-- 底部图片结束 -->
    </div>
</div>
<!-- 站点地图开始 -->
<footer>
    <ul>
        <li>
            <h1><strong>一店地址</strong></h1>
            <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
            <h2>预约电话：<strong>400-562-6654</strong></h2>
            <h3>营业时间</h3>
            <h4>周一 ~周五：上午9:30-下午8:00</h4>
            <h4>周六、周日：上午10:00-下午9:00</h4>
        </li>
        <li>
            <h1><strong>二店地址</strong></h1>
            <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
            <h2>预约电话：<strong>400-562-6654</strong></h2>
            <h3>营业时间</h3>
            <h4>周一 ~周五：上午9:30-下午8:00</h4>
            <h4>周六、周日：上午10:00-下午9:00</h4>
        </li>
        <li>
            <h1><strong>三店地址</strong></h1>
            <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
            <h2>预约电话：<strong>400-562-6654</strong></h2>
            <h3>营业时间</h3>
            <h4>周一 ~周五：上午9:30-下午8:00</h4>
            <h4>周六、周日：上午10:00-下午9:00</h4>
        </li>

    </ul>
    <div class="bottom-tb">
        <img src="../static/img/common/QQ (1).png" alt="">
        <img src="../static/img/common/微信 (1).png" alt="">
        <img src="../static/img/common/微博 (1).png" alt="">
        <img src="../static/img/common/电话 (1).png" alt="">
        <img src="../static/img/common/邮箱.png" alt="">
    </div>
    <div class="bottom-wz">版权所有 2019-2020 聊之旅工作室 技术支持：WUIF</div>
    <div class="bottom-zaixian"><a href="">在线预约</a></div>
</footer>
<!-- 站点地图结束 -->


</body>

</html>
<script>


/*
    let news = document.querySelectorAll('.news');
    let tittle = document.querySelectorAll('.news-every');
    let back = document.querySelectorAll('.back');
    let hidden = document.querySelectorAll('.hidden-news');
    let count = news.length;
    for (let i = 0; i < count; i++) {
        tittle[i].onclick = function () {
            for (let j = 0; j < count; j++) {
                news[j].style.display = "none";
            }
            news[i].style.display = "block";
            tittle[i].style.display = "none";
            hidden[i].style.display = "block";
        };
        back[i].onclick = function () {
            console.log(count);
            for (let j = 0; j < count; j++) {
                hidden[j].style.display = "none";
                news[j].style.display = "block";
                tittle[j].style.display = "flex";
            }
        }
    }
*/


</script>
