<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/public.css">
    <script src="js/public.js"></script>
    <title>public</title>
</head>

<body>
    <!-- 导航开始 -->
    <!-- 顶部导航 开始 -->
    <nav>
        <div class="nav-box">
            <div class="navl">
                <img src="img/common/车图标.png" alt="">
            </div>
            <ul class="navr">
                <li class="zo" id='index'>
                    <!-- <a href=""> -->
                    首页
                    <!-- </a> -->
                </li>
                <li class='zo' id="aboutus">
                    <!-- <a href=""> -->
                    关于我们
                    <!-- </a> -->
                </li>
                <li class="zo" id='center'>
                    <!-- <a href=""> -->
                    产品中心
                    <!-- </a> -->
                </li>
                <li class="zo" id='service'>
                    <!-- <a href=""> -->
                    服务项目
                    <!-- </a> -->
                </li>
                <li class="zo" id="news">
                    <!-- <a href=""> -->
                    新闻资讯
                    <!-- </a> -->
                </li>
                <li class="zo" id="online">
                    <!-- <a href=""> -->
                    在线预约
                    <!-- </a> -->
                </li>
            </ul>
        </div>
    </nav>
    <!-- 顶部导航 结束 -->
    <!-- 屏幕滚动出现 开始 -->
    <nav class="xiala-nav">
        <div class="nav-box">
            <div class="navl">
                <img src="img/common/车图标.png" alt="">
            </div>
            <ul class="navr">
                <li>
                    <a href="">首页</a>
                </li>
                <li>
                    <a href="">关于我们</a>
                </li>
                <li>
                    <a href="">产品中心</a>
                </li>
                <li>
                    <a href="">服务项目</a>
                </li>
                <li>
                    <a href="">新闻资讯</a>
                </li>
                <li>
                    <a href="">在线预约</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 屏幕滚动出现 结束 -->
    <!-- 屏幕缩小后出现的下拉列表 开始 -->
    <a href="#">
        <div class="nav-list">
            <div class="shouy">首页</div>
            <div class="shouy-xiala">∨</div>
        </div>
    </a>
    <ul class="xialakuang" style="display: none;">
        <a href="">
            <li>首页</li>
        </a>
        <a href="">
            <li>关于我们</li>
        </a>
        <a href="">
            <li>铲品中心</li>
        </a>
        <a href="">
            <li>服务项目</li>
        </a>
        <a href="">
            <li>新闻资讯</li>
        </a>
        <a href="">
            <li>在线预约</li>
        </a>
    </ul>
    <!-- 屏幕缩小后出现的下拉列表 结束 -->

    <!-- 导航结束 -->

    <div style="height:1400px;background:cadetblue;"></div>

    <!-- 站点地图开始 -->
    <footer>
        <ul>
            <li>
                <h1><strong>一店地址</strong></h1>
                <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
                <h2>预约电话：<strong>400-562-6654</strong></h2>
                <h3>营业时间</h3>
                <h4>周一 ~周五：上午9:30-下午8:00</h4>
                <h4>周六、周日：上午10:00-下午9:00</h4>
            </li>
            <li>
                <h1><strong>二店地址</strong></h1>
                <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
                <h2>预约电话：<strong>400-562-6654</strong></h2>
                <h3>营业时间</h3>
                <h4>周一 ~周五：上午9:30-下午8:00</h4>
                <h4>周六、周日：上午10:00-下午9:00</h4>
            </li>
            <li>
                <h1><strong>三店地址</strong></h1>
                <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
                <h2>预约电话：<strong>400-562-6654</strong></h2>
                <h3>营业时间</h3>
                <h4>周一 ~周五：上午9:30-下午8:00</h4>
                <h4>周六、周日：上午10:00-下午9:00</h4>
            </li>

        </ul>
        <div class="bottom-tb">
            <img src="img/common/QQ (1).png" alt="">
            <img src="img/common/微信 (1).png" alt="">
            <img src="img/common/微博 (1).png" alt="">
            <img src="img/common/电话 (1).png" alt="">
            <img src="img/common/邮箱.png" alt="">
        </div>
        <div class="bottom-wz">版权所有 2019-2020 聊之旅工作室 技术支持：WUIF</div>
        <div class="bottom-zaixian"><a href="">在线预约</a></div>
    </footer>
    <!-- 站点地图结束 -->

    <!-- 箭头--置顶 -->
    <div class="zhiding">ʌ</div>

</body>

</html>